h1.title {
    margin-top: 1em;
}

.card-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.media-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-footer > button {
    cursor: pointer;
}